body {
  max-width: 100%;
  font-family: 'Maven Pro', sans-serif;
  background: url(http://www.maschigokae.com/portfolio/images/profile/commercial-kitchen-stock.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  background: #373737;
}

.header-background {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#main-logo {
  max-width: 90px;
  max-height: 110px;
  padding-top: 15px;
  padding-bottom: 10px;
}

#webapp-title {
    color: #e6590c;
    font-family: 'Crete Round', serif;
    font-size: 1.5em;
    letter-spacing: 3px;
}

.spacing {
  color: white;
  letter-spacing: -1px;
}

.nav-block {
  display: flex;
  align-items: center;
  background: #e6590c;
  padding-right: 30px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul li {
  align-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  color: #373737
}

.about-blurb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 940px;
  height: 150px;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
}

#webapp-mission-header {
  font-family: 'Maven Pro', sans-serif; font-weight: 400;
  text-align: center;
  color: white;
}

.search-box-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  height: 40px;
  background: white;
  margin-top: 15px;

}

.search-box-container form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form input {
  width: 300px;
  height: 20px;
  margin-right: 7px;
}

.search-button {
  background: #e6590c;
  height: 40px;
  width: 80px;
  border: 0px;
  font-weight: 600;
}

@media only screen and (max-width: 940px) {

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background: #373737;
  }

  .nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6590c;
    width: 100%;
    height: 30px;
  }

  .about-blurb-container {
    height: 90px;
    max-width: 100%;
  }

  .about-blurb-container h1 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 450px) {

  body {
    max-width: 100%;
    font-family: 'Maven Pro', sans-serif;
    background: url(http://www.maschigokae.com/portfolio/images/profile/pho-background-stock.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    background: #373737;
  }

  .header-background {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #main-logo {
    max-width: 70px;
    max-height: 90px;
    padding-top: 12px;
    padding-bottom: 0px;
  }

  #webapp-title {
      color: #e6590c;
      font-family: 'Crete Round', serif;
      font-size: 1em;
      letter-spacing: 3px;
  }

  .nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6590c;
    width: 100%;
    height: 100px;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  nav ul li {
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5em;
    font-weight: 600;
  }
  
  .about-blurb-container {
    height: 40px;
    max-width: 100%;
  }

  .about-blurb-container h1 {
    font-size: 1em;
  }

  .search-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    height: 98px;
    background: white;
    padding-top: 8px;
  }

  form input {
    width: 100%;
    height: 36px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px
  }

  .search-box-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 94%
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6590c;
    height: 40px;
    width: 102%;
    border: 0px;
    margin-top: 3px;
    font-weight: 600;
  }
}
