#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #838383;
  border: 10px solid #373737
  /*box-shadow: 0px 0px 10px #373737;*/
}

#contact p {
  width: 80%;
  background: rgba(0, 0, 0, 0.6);
  margin-bottom: 15px;
  font-family: 'Maven Pro', sans-serif; font-weight: 400;
  text-align: center;
  color: white;
}
